/*MOBILE*/
@media screen and (max-width: 768px)
{
#bloc_page
{
	width: 100%;
}
.logo
{
	margin-left: 10px;
}
#ancres 
{
margin-right: 0px;
padding: 0px;
width: 100%;
display: flex;
justify-content: center;
}
#ancres a
{
	margin-left: 0px;
}
nav
{	
	display: flex;	

	justify-content: space-between;
   align-items: center;
   flex-wrap: wrap-reverse;max-width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}
.activites
{
	width: 50%;
	padding: 30px 40% 30px 10%;
	border-width: 0px 0px 3px 0px;
	border-color: #F2F2F2;
	border-style: solid;
}

.activites:hover
{
	border-color: #0065fc;
}
.hebergement
{
	width: 50%;
	padding: 30px 10% 30px 40%;
	border-width: 0px 0px 3px 0px;
	border-style: solid;
	border-color: #0065fc;
}
.hebergement:hover
{
	border-color: #F2F2F2;
}

.inscription
{
	margin-left: 80%;
}

.inscription:hover
{
  border-style: solid;

}


body
{
	width: 100%;
}
#recherche
{
	width: 95%;
	margin: auto;
}

#formulaire
{
	margin-right: 30px;
}
.placeholder
{
	margin-right:-15px;
	flex: 1;
	display: flex;
}

.block
{
	display: flex;
	flex: 1;
}

.textsearch
{
	display: none;
}

.fas.fa-search
{
	color: white;
}

.searchicon
{
	display: block;
}
.btn
{
	border-radius: 15px;
}
.titrefiltre
{
	width: 100%;
	padding-bottom: 15px;
	padding-top: 60px;
}
#conteneurfiltre
{
	width: 95%;
	margin: auto;
	flex-direction: column;
}
.btnfiltre
{	
	flex-direction: row;
	width: 70%;


}
#nbrelogt
{
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
}

.info
{
	margin-bottom: 15px;
}
#conteneur
{
	flex-direction: column-reverse;
	margin-left: 1px;
	margin-right: 0px;
}
#conteneur1
{
	width: 100%;
	background-color: #FFFFFF;
}
#hebergement
{
	width: 100%;

}
.lienhebergement
{
	margin: auto;
	width: 100%;
	background-color: white;
}
#conteneur2
{
	width: 100%;
	margin-bottom: 40px;
	border-radius: 0px;
}
#titrepopulaire
{
	width: 95%;
	margin: auto;
}
#hbgtcolonne
{
	flex: auto;
}
#activites
{
	width: 95%;
	margin: auto;
}
#conteneur3
{
	flex-direction: column;
	margin-bottom: 50px;
}
.activcol1
{
	height: 190px;
	width: 100%;
	margin-bottom: 15px;
}
.activcol2
{
	width: 100%;
	margin-bottom: 20px;
}
.lienactivite1
{
	height: 190px;
	width: 100%;
	margin-bottom: 20px;
}
.lienactivite2
{
	width: 100%;
	flex-direction: row;
	height: 190px;
	margin-top: 20px;
}
.lienactivite3
{
	width: 100%;
	height: 190px;
}
.vertical
{
	height: 134px;
	width: 100%;
}
.horizontal1
{
	height: 134px;
	width: 100%;
}
.horizontal2
{
	height: 134px;
	width: 100%;
}
footer
{
	flex-direction: column;
}
#a_propos
{
	margin-left: 15px;
	width: 100%;
	margin-top: 30px;
}
#nos_hebergements
{
	margin-left: 15px;
	width: 100%;
	margin-top: 5px;
}

#assistance
{
	margin-left: 15px;
	width:100%;
	margin-bottom: 30px;
	margin-top: 5px;
}

}