
/*tablette*/

@media screen and (min-width: 769px) and (max-width: 991px)
{

html{
	overflow-x: hidden;
		}
main{
	max-width: 100%;
	overflow-x: hidden;
}
body{
	width: auto;
}

img{
	height: auto;
	  }
#conteneur
{
	flex-direction: column-reverse;
}
#conteneur1
{
	width: 100%;
	margin-top: 30px;
}
#conteneur2
{
	width: 100%;
	margin: auto;
}
#conteneur3
{
	width: 100%;
	margin: auto;
}


#conteneurfiltre
{
	max-width: 100%;

}
footer
{
	width: 100%;
	margin-top: 30px;

}
}


/*ecrans intermediaires*/

@media screen and (min-width: 992px) and (max-width: 1350px)
{
html{
	overflow-x: hidden;
	}

main{
		max-width: 100%;
		overflow-x: hidden;
	}
body{
		width: auto;
	}
	

#conteneur
{
	flex-direction: column-reverse;
}
#conteneur1
{
	width: 100%;
	margin-top: 30px;
}

.lienhebergement
{
	justify-content: space-around;
}

#conteneur2
{
	width: 100%;
	margin: auto;
}

#hbgtcolonne
{
	flex-direction: row;
	justify-content: space-around;
}
#conteneur3
{
	width: 100%;
	margin: auto;
}
#conteneurfiltre
{
	width: 70%;

}
footer
{
	width: 100%;
	margin-top: 30px;
}
}







