/*Définition des polices personnalisées */
@font-face 
{
  font-family: 'Raleway';
  src: url('police/static/Raleway-Regular.ttf') format('truetype');
}




/*Definition des styles principaux de la page (largeur du site, fond, couleur par défaut du texte) */


/* En-tête et liens de navigations */
main
{
  width: 1440px;
  margin: 0 auto;
  font-family: "Raleway", Arial, San-Serif;
}
section
{
  margin: 0 50px;
}

a
{
  text-decoration: none;
  color: black;
}
header
{
  display: flex;
  margin: 0 50px 25px 50px;
}
figure
{
  margin: 0px;
  flex-grow: 1;
  padding-top: 50px;
}


#ancres
{
  display: flex;
  margin-right: 70px;
}


.inscription
{
  padding: 50px 0px;
  color: #0065FC;
  font-weight: bold;
  float: right;
  text-decoration: none;
  border-width: 2px 0px 0px 0px;
}
.inscription:hover
{
  border-style: solid;
  margin-top: -2px;
}

.hebergement
{
  margin-right: 70px;
  padding: 50px 0px;
  color: #0065fc;
  width: 187px;
  text-align: center;
  vertical-align: bottom;
  text-decoration: none;
  border-width: 2px 0px 0px 0px;
}

.hebergement:hover
{
  border-style: solid;
  margin-top: -2px;
}


.activites
{
  padding: 50px;
  border-width: 2px 0px 0px 0px;
  width: 187px;
  text-align: center;
  text-decoration: none;
  color: black;
}
.activites:hover
{
  border-style: solid;
  margin-top: -2px;
}

/*RECHERCHE*/


#formulaire
{ display: flex;
  align-items: center;
}

.map
{
   display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    height: 50px;
    width: 26px;
    padding: 0px 16px;
    background-color: #f1f3f3;
}

.placeholder
{
  height: 50px;
  border: 1px solid #f1f2f3;
  border-left: 0px;
  border-right: 0px;
  padding-left: 15px;
  font-weight: 800;
  color: black;
  opacity: 1;
}

.btn
 {
 height: 50px;
    background-color: #0065FC;
    color: white;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border: 0px;
    padding: 17px;
    cursor: pointer;
    font-weight: bold;
  }

.fas.fa-map-marker-alt
{
  color: black;
  display: inline-block;
}




.searchicon
  {
    display: none;
  }



/*FILTRES*/
#conteneurfiltre
{
  display: flex;
  margin-right: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.titrefiltre
{
  margin-right: 35px;
  margin-top: 22px;
  font-size: 18px;
  font-weight: 600;
}



.filtres
{
  display: flex;
  
}

.btnfiltre:hover
{
  transform: scale(1.07);
  background-color: #f2f2f2;
}

.btnfiltre
{
  display: flex;
  height: 43px;
  border-radius: 25px;
  border: 2px solid #d7dada;
  margin: 10px 10px 5px 40px;
  transition: transform .2s;
}
.btnfiltre p
{
  display: flex;
  align-items: center;
  margin: 0px 15px 0 10px;
  font-weight: 800;
}

.btnfiltre a
{
  text-decoration: none;
  color: black;
 }

.iconefiltre
{
  background-color: #DEEBFF;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-child, .fa-info, .fa-money-bill-wave, .fa-heart, .fa-dog
{
  color: #0065FC;
}
/*info*/
.fas.fa-info
{
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 1px solid #d9d9d9;
  color: #0065FC;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  margin-right: 12px;
}

#nbrelogt
{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}



/* section principale du corps de page, au centre */


.fas.fa-search
{
  color: #0065FC;
}

.fas.fa-star
{
  color: #0065FC;
}

.fas.fa-star.grey-star
{
  color: #d9d9d9;
}


/*HEBERGEMENTS A MARSEILLE*/

#hebergement
{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 0px;
}

#conteneur
{
  display: flex;
  margin: 5px;
  margin-top: 0px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}




#conteneur1
{
  background-color: #F2F2F2;
  border-radius: 18px;
  margin-right: 40px;
  width: 68%;
}

.lienhebergement:hover
{
  transform: scale(1.05);
  
}
#hebergt
{
  display: flex;
  background-color: #f2f2f2;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;

}

.lienhebergement
{
  width: 240px;
  background-color: white;
  border: 5px solid white;
  border-radius: 16px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
  margin-bottom: 30px;
  box-sizing: border-box;
  transform: scale(1);
  transition: 400ms;
 }


.tarif
{
  margin-top: 0px;
  margin-bottom: 5px;
}


.titrehebergement
{
  margin-top: 40px;
  margin-bottom: 33px;
  margin-left: 40px;
  margin-right: 40px;
}

.photohbgt
{
  object-fit: cover;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  height: 114px;
  width: 100%;
}

.Afficherplus
{
margin-top: 20px;
margin-bottom: 45px;
font-weight: bold;
font-size: 1.17em;
margin-left: 40px;
margin-right: 40px;
}

/*LES PLUS POPULAIRES*/
#conteneur2
{ 
  flex: auto;
  border-radius: 16px;
  margin: 5px;
  background-color: #F2F2F2;
  width: 32%;
}

#titrepopulaire
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 3px;
}

#iconepopulaire
{
  float: right;

}
.fa-chart-line
{
  padding-top: 30px;
  color: black;
}
#hbgtcolonne
{
display: flex;
flex-direction: column;
background-color: #F2F2F2;
margin-left: 40px;
margin-right: 40px;
}

.hbgtcolonne
{
  display: flex; 
  flex-direction: row;
  background-color: #FFFFFF;
  width: 100%;
  margin-bottom: 30px;
  border: 5px solid white;
  border-radius: 16px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
  height: 144px;
  box-sizing: border-box;
  transform: scale(1);
  transition: 400ms;
 }

.hbgtcolonne:hover
{
  transform: scale(1.05);
  
}
.descriptionpop
{
 flex: auto;
  margin-left: 10px;
}
.photopop
{
  width: 127px;
  height: 100%;
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
  margin-right: 12px;
  object-fit: cover;
}

.nompop
{
  margin-left: 15px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.nomhbgtpop
{
  margin-top: 5px;
  margin-bottom: 5px;
  width: 150px;
  font-size: 16px;
}
.tarifpop
{
  margin: 0px;
  font-size: 14px;
  margin-bottom: 10px;
}

.etoilespop
{
  display: flex;
  flex-direction: row;
  margin-left: 5px;
}
/*ACTIVITES A MARSEILLE*/




#conteneur3
{
  display: flex;
 justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
.titreactivite
{
  margin-top: 30px;
  margin-left: 25px;
}
.nomactiv
{
  margin-left: 12px;
  vertical-align: center;
 } 

.activcol1
{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 22.5%;
  height: 460px;
}

.activcol1:hover
{
  transform: scale(1.05);
  
}
.activcol2
{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 22.5%;
}
.lienactivite1
{
  display: block;
  border-radius: 16px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
  width: 100%;
  margin-bottom: 0px;
  height: 453px;
  transform: scale(1);
  transition: 400ms;
}
.lienactivite1: hover
{
  transform: scale(1.05);
}
.lienactivite2
{
  border-radius: 16px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
  width: 100%;
  margin-bottom: 0px;
  height: 161px;
  transform: scale(1);
  transition: 400ms;
  margin-bottom: 10px;  
}
.lienactivite2:hover
{
  transform: scale(1.05);
}

.lienactivite3
{
  border-radius: 16px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
  width: 100%;
  margin-bottom: 10px;
  height: 232px;
  transform: scale(1);
  transition: 400ms;
}
.lienactivite3:hover
{
  transform: scale(1.05);
}
.vertical
{
  height: 390px;
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.horizontal1
{
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.horizontal2
{
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  height: 110px;

}







/* pied de page */
footer
{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: #F2F2F2;
}

#a_propos
{
  flex-direction: column;
  text-decoration: none;
  width: 34%;
  margin-left: 50px;
} 

#nos_hebergements
{
  flex-direction: column;
  text-decoration: none;
  width: 34%;
}

#assistance
{
  flex-direction: column;
  width: 34%;
}

#liste_a_propos
{
  text-decoration: none;
}




